TshirtService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:ms="http://mulesoft.org/tshirt-service" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="TshirtService" 
    targetNamespace="http://mulesoft.org/tshirt-service">

    <!-- TYPES -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://mulesoft.org/tshirt-service">
            <!-- Elements and types go here -->
            <!-- [ OMITTED for brevity — same types as in your original WSDL ] -->
        </xsd:schema>
    </wsdl:types>

    <!-- MESSAGES -->
    <wsdl:message name="OrderTshirt">
        <wsdl:part name="body" element="ms:OrderTshirt" />
    </wsdl:message>
    <wsdl:message name="OrderTshirtResponse">
        <wsdl:part name="body" element="ms:OrderTshirtResponse" />
    </wsdl:message>
    <wsdl:message name="ListInventory">
        <wsdl:part name="body" element="ms:ListInventory" />
    </wsdl:message>
    <wsdl:message name="ListInventoryResponse">
        <wsdl:part name="body" element="ms:ListInventoryResponse" />
    </wsdl:message>
    <wsdl:message name="TrackOrder">
        <wsdl:part name="body" element="ms:TrackOrder" />
    </wsdl:message>
    <wsdl:message name="TrackOrderResponse">
        <wsdl:part name="body" element="ms:TrackOrderResponse" />
    </wsdl:message>
    <wsdl:message name="TshirtFault">
        <wsdl:part name="fault" element="ms:TshirtFault" />
    </wsdl:message>
    <wsdl:message name="APIUsageInformation">
        <wsdl:part name="header" element="ms:APIUsageInformation" />
    </wsdl:message>
    <wsdl:message name="AuthenticationHeader">
        <wsdl:part name="header" element="ms:AuthenticationHeader" />
    </wsdl:message>

    <!-- PORT TYPE -->
    <wsdl:portType name="TshirtServicePortType">
        <wsdl:operation name="OrderTshirt">
            <wsdl:input message="ms:OrderTshirt" />
            <wsdl:output message="ms:OrderTshirtResponse" />
            <wsdl:fault name="TshirtFault" message="ms:TshirtFault" />
        </wsdl:operation>
        <wsdl:operation name="ListInventory">
            <wsdl:input message="ms:ListInventory" />
            <wsdl:output message="ms:ListInventoryResponse" />
            <wsdl:fault name="TshirtFault" message="ms:TshirtFault" />
        </wsdl:operation>
        <wsdl:operation name="TrackOrder">
            <wsdl:input message="ms:TrackOrder" />
            <wsdl:output message="ms:TrackOrderResponse" />
            <wsdl:fault name="TshirtFault" message="ms:TshirtFault" />
        </wsdl:operation>
    </wsdl:portType>

    <!-- BINDING -->
    <wsdl:binding name="TshirtServiceSoapBinding" type="ms:TshirtServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="OrderTshirt">
            <soap:operation soapAction="http://mulesoft.org/tshirt-service/order-tshirt" />
            <wsdl:input>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
                <soap:header use="literal" part="header" message="ms:AuthenticationHeader" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
                <soap:header use="literal" part="header" message="ms:APIUsageInformation" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:output>
            <wsdl:fault name="TshirtFault">
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
                <soap:header use="literal" part="header" message="ms:APIUsageInformation" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="ListInventory">
            <soap:operation soapAction="http://mulesoft.org/tshirt-service/list-inventory" />
            <wsdl:input>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:output>
            <wsdl:fault name="TshirtFault">
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="TrackOrder">
            <soap:operation soapAction="http://mulesoft.org/tshirt-service/track-order" />
            <wsdl:input>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
                <soap:header use="literal" part="header" message="ms:AuthenticationHeader" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
                <soap:header use="literal" part="header" message="ms:APIUsageInformation" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:output>
            <wsdl:fault name="TshirtFault">
                <soap:body use="literal" namespace="http://mulesoft.org/tshirt-service"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- SERVICE -->
    <wsdl:service name="TshirtService">
        <wsdl:port name="TshirtServicePort" binding="ms:TshirtServiceSoapBinding">
            <soap:address location="http://localhost:8088/tshirtService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
